html, body {
    width:100%;
    margin: 0 auto;
}
/*Все содержимое страницы - флекс-контейнер, в котором айтемы выравниваются в колонну и по середине*/
.container-body{
    min-width: 300px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: row wrap;
    align-items: center;
    position: relative;
}
/*шапка страницы - флекс-контейнер, содержимое выравнивается в колонну по середине*/
.header{
    display: flex;
    justify-content: center;
    margin: 15px;
    border-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    margin: 5px;
}
/*картинка в заголовке "Тензор"*/
.header__img-logo{
    max-height: 30px;
    max-width: 30px;
    width: 40%;
    margin-right: 15px;
}
/*заголовок*/
.header__title{
    font-family: Arial, Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight: 540;
    font-size: 33px;
    text-transform: uppercase;
}
/* основной текст шапки (или описание) */
.header__inscription{
    text-align: center;
    margin-top: 30px;
    font-family: Arial, Verdana, sans-serif;
    font-weight: 100;
    font-size: 22px;
    width: 80%;
}
/*полоска после заголовка*/
.header__title:after{
    content: '';
    display: block;
    height: 4px;
    background: black;
    margin-top: 17px;
    margin-left: 25%;
    width: 40%;   
}
/*флекс-контейнер с фотокарточками, айтемы выравниваются по горизонтальной линии и в центре*/
.cards{
    margin-top: 25px; 
    margin-bottom: 30px; 
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}
/*картинка в фотокарточке*/
.item-card__img-card{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
/*фотокарточка*/
.item-card{
    /* background-color: coral;  */
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;

    /* max-width: 200px; */
    /* align-items: center; */
    position: relative;
}
/*тест с содержимым фотокарточки*/
.item-card__text{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: auto;
    max-width: 200px;
    margin-right: auto;
    max-width: 70%;
}
/*отступ между строками в карточке*/
.item-card__text_light-indent{
    margin-top: 10px;
    color: gray;
}
/*для выделения блока карточки при наведении мышью*/
.item-card:hover{    
    position: relative;
    cursor: pointer;
}
/*создание тесни с середины для карточки при наведении*/
.item-card:hover:after{
    content: '';
    display: block;
    height: 60%;
    width: 100%;
    z-index: -1;
    position: absolute;
    bottom: -11px;
    box-shadow: 0 15px 10px -1px rgba(0, 0, 0, .2);
}
/*всплывающее окно с информацией о карточке (скрыто без действия)*/
.hide-card{
    position: absolute;
    display: none;
    z-index: -1;
}
/*при нажатии на какую-либо из карточек появляется окно с информацией о карточке (профиль)*/
.click-card{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0;
    width: 490px;
    height: 270px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 15px 10px -1px rgba(0, 0, 0, .2);
    margin: -125px 0 0 -125px; 
}
/*фото на всплывающем окне-карточке при нажатии*/
.click-card__photo
{
    height: 170px;
    width: 170px;
    border-radius: 30%;
    float: right;
    margin-top: 50px;
}
/*кнопка выхода на панели с информацией нажатой карточки*/
.click-card__btn-exit{
    width: 20px;
    height: 20px;
    text-align: center;
    color:white;
    border-radius: 5px;
    float: right;
    margin: 10px;
    margin-top: 5px; 
    grid-column: none;
  }
/*создание тени при наведении на кнопку выхода на всплывшей карточке-профиле*/
.click-card__btn-exit:hover {
    background: white;
    box-shadow: -1px 1px 1px -1px rgb(255, 254, 254);
  }
/*флекс-контейнер для текстового содержимого в всплывшем окне*/
  .info-card{
      display: flex;
      margin-bottom: 80px;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 10px;
      margin-right: 10px;
  }
/*регулирование границ для строчки "статус" в всплывшей карточке*/
  .info-card__status-wrapper{
      margin-bottom: 30px;
      margin-top: 0;
  }
