html, body {
    width:100%;
    margin: 0 auto;
}
/*Все содержимое страницы - флекс-контейнер, в котором айтемы выравниваются в колонну и по середине*/
.container-body{
    min-width: 300px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: row wrap;
    align-items: center;
    position: relative;
}
/*шапка страницы - флекс-контейнер, содержимое выравнивается в колонну по середине*/
.header{
    display: flex;
    justify-content: center;
    margin: 15px;
    border-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    margin: 5px;
}
/*картинка в заголовке "Тензор"*/
.header__img-logo{
    max-height: 30px;
    max-width: 30px;
    width: 40%;
    margin-right: 15px;
}
/*заголовок*/
.header__title{
    font-family: Arial, Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight: 540;
    font-size: 33px;
    text-transform: uppercase;
}
/* основной текст шапки (или описание) */
.header__inscription{
    text-align: center;
    margin-top: 30px;
    font-family: Arial, Verdana, sans-serif;
    font-weight: 100;
    font-size: 22px;
    width: 80%;
}
/*полоска после заголовка*/
.header__title:after{
    content: '';
    display: block;
    height: 4px;
    background: black;
    margin-top: 17px;
    margin-left: 25%;
    width: 40%;   
}
/*флекс-контейнер с фотокарточками, айтемы выравниваются по горизонтальной линии и в центре*/
.cards{
    margin-top: 25px; 
    margin-bottom: 30px; 
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}
/*картинка в фотокарточке*/
.item-card__img-card{
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
/*фотокарточка*/
.item-card{
    /* background-color: coral;  */
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;

    /* max-width: 200px; */
    /* align-items: center; */
    position: relative;
}
/*тест с содержимым фотокарточки*/
.item-card__text{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: auto;
    max-width: 200px;
    margin-right: auto;
    max-width: 70%;
}
/*отступ между строками в карточке*/
.item-card__text_light-indent{
    margin-top: 10px;
    color: gray;
}
/*для выделения блока карточки при наведении мышью*/
.item-card:hover{    
    position: relative;
    cursor: pointer;
}
.item-card:hover:after{
    content: '';
    display: block;
    height: 60%;
    width: 100%;
    z-index: -1;
    position: absolute;
    bottom: -11px;
    box-shadow: 0 15px 10px -1px rgba(0, 0, 0, .2);
}

.hide-card{
    position: absolute;
    display: none;
    z-index: -1;
}

.click-card{
    width: 300px;
    height: 200px;
    position: absolute;
    background-color: honeydew;
    z-index: 1;
    box-shadow: 0 15px 10px -1px rgba(0, 0, 0, .2);
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}

.click-card__photo
{
    height: 100px;
    width: 100px;
    float: right;
}
